html,
body,
.view {
    height: 100%;
}

.view {
    background: url("https://mdbootstrap.com/images/regular/city/img%20(17).jpg")no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.containerNew {
  
  margin-right: 10px;
  margin-left: 10px;
  padding-left: 100px;
  padding-right: 100px;
	padding-bottom:  50px;
	border-radius: 20px;
	
}
.containerForProjects {
	padding-bottom:  50px;
	border-radius: 10px;
	background-color: #3E3E40;
	
}



.well{
background-color: #FFFFFF !important;
}

.g-item{
    width: 500px;
    height: 500px;
}

.redtext {
        color: white;
}
.figcap-proj{
	color: white;
}
.redtext2 {
        color: black;
}

.neonGreenText {
        color: #39ff14;
}

.prof-box {
	width: 400px;
	height: 400px;
	background: rgba(0,0,0,0.4);
	padding: 40px;
	color: black;
	margin: 0 auto;
	margin-top: 140px;
	
}
.prof-pic{
	border-radius: 50%;
	height: 200px;
	width: 200px;
}
.img{
	border:1px solid ;

border-radius: 20px;
} 
