html,
body,
.view {
    height: 100%;
}

.view {
    background: url("https://mdbootstrap.com/images/regular/city/img%20(17).jpg")no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

 @keyframes color-animation {
    0% {
       background: white;
    }
    50% {
       background: blue;
    } 
    100% {
       background: orange;
    } 
 }
 @keyframes color-animation2 {
    0% {
       background: red;
    }
    50% {
       background: green;
    } 
    100% {
       background: blue;
    } 
 }


.hrGlow{
	opacity: 0.3;
	filter: alpha(opacity=30); /* For IE8 and earlier */
	padding-bottom:  10px;

   animation: color-animation 2s infinite linear alternate;

}
.hrGlowSection{
	opacity: 0.5;
	filter: alpha(opacity=50); /* For IE8 and earlier */
	padding-bottom:  20px;
  width: 100%;
   height: 100%;
   animation: color-animation2 3s infinite linear alternate;

}

.containerForProjects {
	padding-bottom:  20px;
	
	background-color: #3E3E40;
	
}

.carousel-indicators.thumbnails li {
   width: 100px;
   height: 60px;
   overflow: hidden;
   background-color: #333; /* fallback */
   border-radius: 4px;
 }
 
 .carousel-indicators.thumbnails li img {
   display: block;
   width: 100%;
   height: 100%;
   object-fit: cover;
   object-position: center;
   background-color: #444;
   border: 1px solid #666;
 }


.well{
background-color: #FFFFFF !important;
}

.g-item{
    width: 500px;
    height: 500px;
}

.redtext {
        color: white;
}
.figcap-proj{
	color: white;
}
.redtext2 {
        color: black;
}

.neonGreenText {
        color: #39ff14;
}

.prof-box {
	width: 400px;
	height: 400px;
	background: rgba(0,0,0,0.4);
	padding: 40px;
	color: black;
	margin: 0 auto;
	margin-top: 140px;
	
}
.prof-pic{
	border-radius: 50%;
	height: 200px;
	width: 200px;
}
.img{
	border:1px solid ;

border-radius: 20px;
} 
